/ {
    chosen {
        zephyr,display = &oled;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,  /* Dostosuj piny jeśli używasz innych niż standardowe */
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };
};

&pro_micro_i2c {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-remap;
        com-invdir;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-offset = <0>;
        com-sequential;
        prechargep = <0x22>;
    };
};
